// Simple Reset Styles

body {
  margin: 0;
  padding: 0;
  font-family: 'LXGW WenKai Screen', sans-serif;
  background: var(--body-bg);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

