/* ============================================
   字体定义 - 本地字体文件
   ============================================ */

@font-face {
  font-family: 'LXGW WenKai Screen';
  src: url('/fonts/LXGWWenKaiScreen.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai Mono Screen';
  src: url('/fonts/LXGWWenKaiMonoScreen.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

